@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "variables.css";
@import "reset.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/reddot.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chats.css";
@import "screens/chat.css";

@import "screens/taxi.css";

@font-face {
    font-family: 'maplestory-bold';
    src: url('/font/maplestory-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'maplestory-light';
    src: url('/font/maplestory-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'maplestory-light', 'Open Sans', sans-serif;
    color:#2F363E;
    height: 80vh;
    /* background-color: rgb(240, 240, 240); */
}

.font-strong {
    font-family: 'maplestory-bold', sans-serif;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}