#friends-body{
    background-color: #faffd1;
}

#friends-display-link{
    text-align: center;
    display: block;
    background-color: #c4ba33;
    padding: 20px 0;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -15px;
}

#friends-display-link span{
    margin-left: 5px;
    margin-right: 7px;
    color: rgb(255, 255, 255);
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;

    position: relative;
}

.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 1.0);
}

@keyframes mushroom-anim{
    0%, 100% {
        bottom: 100%;
        transform: scaleY(1);
    }
    5% {
        transform: scaleY(0.7);
        bottom:95%;
    }
    10% {
        transform: scaleY(1);
        bottom: 100%;
    }
    25% {
        bottom: 110%;
        transform: scaleY(1);
    }
    40% {
        bottom: 100%;
    }
    45% {
        transform: scaleY(1);
    }
}

.nav-monster-image{
    width: 100px;
    height: 100px;

    position: absolute;
    left: 70%;
    bottom: 100%;    
    animation: mushroom-anim 1.5s ease-out infinite;
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        /* 실제로 사라져야 할 경우 js를 이용하여 없애야 한다. 
        일단 기초를 진행하고 있으니 아래와 같이 visibility: hidden을 준다. */
        visibility: hidden; 
    }
}

#splash-screen {
    /* background-color: var(--yellow); */
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 122px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 3s;
}