.nav{
    background-color: #d0e2d7;
    padding: 20px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list img{
    width: 40px;
    height: 35px;

    transition: all 0.2s ease-in-out;
}

.nav__list img:hover{
    transform : translateY(-10px) scale(1.2);
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__list

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;

    color:#2F363E;
    position: relative;
}

.nav__link img{
    margin-bottom: 5px;
}

@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(180deg);
    }
    100%{
        transform:none;
    }
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom:15px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes appearBtnAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.nav__btn{
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2){
    animation-delay: 0.1s;
}

.nav__btn:nth-child(3){
    animation-delay: 0.2s;
}
.nav__btn:last-child{
    animation-delay: 0.3s;
}

.nav__reddot{
    position: absolute;
    left: 30px;
    bottom: 25px;

    z-index: 10;
}

.nav i{
    transition:all 0.1s ease-in-out;
    cursor: pointer;
}

.nav i:hover{
    transform : scale(1.2);
}